{% extends 'nest/base.html' %}

{% load static %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="card card-body h-20">
                <h5>{{ notice.subject }}</h5>
                <p><small>{{ notice.date }}</small></p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card card-body">
                <p>{{ notice.body }}</p>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            <div class=" embed-responsive embed-responsive-16by9">
                <iframe
                class="embed-responsive-item"
                src="{% static 'pdf_plugin/web/viewer.html' %}?file={{ notice.notice_file.url }}"
                style="border: none;" ></iframe>
            </div>
        </div>
    </div>
        
{% endblock %}



    